{% load static %}
<div class="container mt-4">
    {% if youtube_links %}
        <h3 class="mb-3">YouTube Videos</h3>
        <div class="row">
            {% for resource in youtube_links %}
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ resource.name | default_if_none:"N/A" }}</h5>
                            <p class="card-text">{{ resource.description | default_if_none:"No description available." }}</p>
                        </div>
                        <div class="ratio ratio-16x9">
                            {{ resource.youtubeLink|safe }}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Created By: {{ course.instructor | default_if_none:"N/A" }}</li>
                            <li class="list-group-item">Creation Time: {{ resource.created|timesince | default_if_none:"N/A" }}</li>
                            <li class="list-group-item">Last Modified Time: {{ resource.updated|timesince | default_if_none:"N/A" }}</li>
                        </ul>
                        <div class="card-footer">
                            <a href="{{ resource.youtubeLink }}" class="btn btn-outline-primary btn-sm" target="_blank">Preview/Info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">No YouTube videos available.</p>
    {% endif %}
</div>
