/* Styling the main container */
.chat-container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
}

/* Styling the msg-header container */
.msg-header {
    width: 100%;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    background-color: #3f4156;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Styling the profile picture */

/* styling user-name */
.msg-course-title {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.video-stream{
    padding: 20px;
}
/* Styling the inbox */
.chat-page {
    max-height: 100vh;
    /* padding: 0 0 50px 0; */
}

.msg-inbox {
    /* background-image: url("../assets/bg-chat.png"); */
    background-position: center;
    background-color: #2d2d39;
    border: 1px solid #2d2d39;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
}

.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.msg-page::-webkit-scrollbar {
    background-color: rgb(255, 255, 255, 0);
    width: 10px;
}

.msg-page::-webkit-scrollbar-thumb {
    background-color: #3f4156;
    border-radius: 6px;
}

/* Styling the msg-bottom container */
.msg-bottom {
    border-top: 1px solid #ffffff;
    position: relative;
    height: 11%;
    background-color: #3f4156;
}

/* Styling the input field */
form#message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f4156;
}

.send-message-forms {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   border-radius: 20px;
   margin: 10px;
   padding: 10px;
}

textarea{
    border: none;
    overflow: hidden;
    resize: none;
}

textarea:focus{
    outline: none;
    border: none;
}

input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

/* Styling the avatar  */
.received-chats-img {
    /* display: inline-block; */
    width: 50px;
    float: left;
}

.received-msg {
    display: inline-block;
    /* padding: 0 0 0 5px; */
    vertical-align: top;
    min-width: 50%;
}
.received-msg-inbox {
    max-width: 46%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    /* width: 100%; */
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}
p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: #919090;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3f4156;
    /* background-image: linear-gradient(90deg, #72131e 0%, #4d0d0d 100%); */
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px 5px 12px;
    /* width: 100%; */
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.outgoing-chats-msg {
    float: right;
    max-width: 46%;
    min-width: 5%;
}

/* Styling the avatar */
.outgoing-chats-img {
    /* display: inline-block; */
    width: 50px;
    float: right;
    margin-right: 1rem;
}


.scroll-to-bottom-widget{
    position: fixed;
    bottom: 15%;
    right: 10%;
  }
  
  .scroll-to-bottom-button, .scroll-to-top-button {
    padding: 5px;
    background-color: #3f41568e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .scroll-to-bottom-button:hover, .scroll-to-top-button:hover {
    background-color: #0056b3;
  }

  .scroll-to-bottom-button:hover .button-hover-text, .scroll-to-top-button:hover .button-hover-text {
    display: block;
  }

  .button-hover-text {
    display: none;
    position: absolute;
    top: -20px;
    left: -70px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
  }