.content-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .content-section {
      flex-direction: row;
    }
  }
  
  .text-section {
    color: white;
  }
  
  .color-blue {
    color: #007bff; /* Replace with the appropriate blue color used */
  }
  
  .title-info {
    font-size: 1rem;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .call-to-action {
    padding: 1.5rem;
  }
  
  .btn-secondary {
    /* Style for your secondary button */
  }
  

  /*about Page  */



