#id_is_employee{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.signup-heading, .icon-logo{
    color: #3f4156;
}

.input-container, .check{
    user-select: none;
}

.btn-register{
    background-color: #3f4156;
    color: white;
}

.btn-register:hover{
    background-color: #696d97;
    color: #ffffff;
}

.login-employee{
    color: #3f4156;
    text-decoration: none;
}

.login-employee:hover{
    color: #696d97;
    text-decoration: underline;
}