/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.full-height {
  height: 100vh;
}

.main-content-container {
  height: 100%;
  display: flex;
  user-select: none;
}

.footer {
  max-height: 10vh;
}

.side-bar {
  max-height: 100%;
  overflow-y: auto;
}

.side-bar::-webkit-scrollbar, .side-bar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.content-page {
  width: 100%;
  overflow-y: auto;
}

.content-page::-webkit-scrollbar {
  background-color: rgb(255, 255, 255, 0);
  width: 10px;
}

.content-page::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #080808 0%, #252525 100%);
  border-radius: 6px;
}

.dropstart .dropdown-toggle::before {
  display: none !important;
}

/* side bar starts */
/* .bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}  */


/* .side-bar-big{
    display: flex;
    flex-direction: column;
    width: 100px;
} */



/* 
.side-bar-small.active{
    display: flex;
} */


/* side bar ends */


/* announcement starts  */
/* .view {
  cursor: pointer;
}

.view-details {
  display: none;
}

.view-details.active {
  display: block;
}

.view-details-header h4 {
  margin-top: 10px;
} */
/* announcement ends */



/*     
    .side-bar-small{
        display: flex;
    }
    
    .side-bar-big.active{
        display: flex;
    }

    
    .side-bar-small.active{
        display: none;
    } */



.side-bar {
  display: flex;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav > * {
  margin-bottom: 0;
}

.nav-link.active {
  background-color: blue;
}

@media screen and (max-width: 992px) {
   .nav{
    background-color: #3f4156;
   }
}


@media screen and (min-width: 992px) {

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav > * {
  margin-bottom: 2rem;
}
  .side-bar {
    display: block;
    position: fixed;
    top: 50px;
  }


  .main-content-container::before, .main-content-container::after{
  content: "";
   clear: both;
   display: table;
}

.main-content-container > * {
  float: left;
}

.main-content-container > .content-page{
  margin-left: 80px!important;
}
}

