.footer {
  padding: 2rem;
  background-color: #3f4156;
  color: white;
}

.container {
  text-align: center;
}

/* Picture content */
.rounded-section {
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: #3f4156;
  border-radius: 0.75rem;
}

.color-blue {
  /* Your color and text centering */
}

.color-light {
  /* Your light color text styling */
}

.image-container {
  /* Container to handle the image layout */
}

.rounded-image {
  border-radius: 50%; /* This will make the image round */
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set the height equal to the width to maintain a circle */
  object-fit: cover; /* This will handle the image scaling */
  transition: all 0.3s;
}

.rounded-image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Additional styles and responsiveness */
@media (max-width: 768px) {
  .rounded-image {
    width: 75px; /* Smaller width for smaller screens */
    height: 75px; /* Keep height equal to the width */
  }
}

.about-section {
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: #3f4156;
  border-radius: 0.75rem;
}

.color-blue {
  /* your blue color style */
}

.subtitle {
  color: #b2b2b2; /* Assuming color-light-gray is a lighter shade of text */
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
  }
}




/* Additional responsive design considerations as needed */
