{% extends "base_quiz.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/quiz.js' %}" defer></script> 
{% endblock scripts %}

{% block title %}
{{ obj.name }}
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2 class="font-weight-bold">{{ obj.name }}</h2>
            <p>Score to pass: <span class="badge badge-secondary">{{ obj.required_score_to_pass }}%</span></p>
        </div>
        <div class="col-md-4 text-md-right" id="timer-box">
            <!-- Timer will be here -->
        </div>
    </div>

    <form id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box">
            <!-- Quiz questions will be loaded here -->
        </div>
        <button type="submit" class="btn btn-success mt-3">Submit Quiz</button>
    </form>
    <div id="score-box">
        <!-- Score will be shown here -->
    </div>
    <div id="result-box">
        <!-- Results will be shown here -->
    </div>
</div>
{% endblock content %}
