{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-success">Announcements</h1>
    {% if announcements %}
    
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="text-white bg-success">
                <tr>
                    <th>Subject</th>
                    <th>Saved By</th>
                    <th>Creation Time</th>
                    <th>Last Modified Time</th>
                </tr>
            </thead>
            <tbody>
                {% for announcement in announcements %}
                <tr>
                    <td class="fw-bold">{{ announcement.title|default:"N/A" }}</td>
                    <td>{{ course.instructor|default:"N/A" }}</td>
                    <td>{{ announcement.created|date:"M d, Y H:i"|default:"N/A" }}</td>
                    <td>{{ announcement.updated|date:"M d, Y H:i"|default:"N/A" }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="bg-light">
                        <div class="p-3">
                            <h5 class="text-success">Message:</h5>
                            <p>{{ announcement.content|default:"No details provided." }}</p>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% else %}
    <div class="alert alert-warning" role="alert">
        No announcements are currently available.
    </div>
    {% endif %}
</div>
{% endblock %}
