{% extends 'front_page.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<div class="container-fluid p-0">
  <div class="content-section">
    <div class="text-section">
      <h2 class="color-blue">
        {% translate "UpSkill is one of the world's largest employee training platform" %}
      </h2>
      <p>
        {% translate "We leverage open-source software to deliver a highly effective, customized, and engaging learning experience." %}
      </p>
      <h2 class="color-blue">
        {% translate "With our extensive experience, we are confident that we can be your ideal eLearning partner." %}
      </h2>
      <p class="title-info">
        {% translate "At UpSkill, we are on a mission to empower employers to improve our world with open source employee training software. With hundreds of millions of users around the globe and translated into 2 languages, UpSkill gives you the freedom to create online teaching and training solutions that best meet your learners' needs." %}
      </p>
    </div>
    <div class="image-section">
      <img
        src="{% static 'assets/about-bg-1.jpg' %}"
        alt="{% translate 'UpSkill team working' %}"
        class="img-fluid"
      />
    </div>
  </div>

  {% include 'frontPage/mini_about.html' %}
  {% include 'frontPage/people.html' %}

  <div class="call-to-action">
    <p class="text-center">
      {% translate "Open LMS provides world-class LMS solutions that empower organizations to meet education and workplace learning needs. Get in touch to find out more." %}
    </p>
    <div class="text-center">
      <a class="btn btn-secondary" href="{% url 'contact' %}">
        {% translate "Get In Touch With Us" %}
      </a>
    </div>
  </div>

  {% include 'front_page_footer.html' %}
</div>
{% endblock %}
