{% load static %}
<div class="chatbox vh- 100 d-flex align-items-center justify-content-center">
  <div class="chatbox__support col-md-12 col-lg-12">
    <div class="chatbox__header">
      <div class="chatbox__image--header">
        <img
          src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
          alt="image"
        />
      </div>
      <div class="chatbox__content--header">
        <h4 class="chatbox__heading--header">SkillBuilder Support</h4>
        <p class="chatbox__description--header">
          Hey there, How can I help you?
        </p>
      </div>
    </div>
    <div class="chatbox__messages"></div>
    <div class="chatbox__footer">
      <input type="text" placeholder="Write a message..." />
      <button class="chatbox__send--footer send__button">Send</button>
    </div>
  </div>
</div>
