
{% extends 'front_page.html' %} 
{% load static %} 
{% load i18n %} 
{% block content %}

<div class="container-fluid p-0">
  <div
    class="d-flex flex-md-row flex-column p-3 m-3 rounded-3 gap-3"
    style="background-color: #3f4156"
  >
    <div class="col-lg-6 m-auto">
      <p class="color-blue">Why choose UpSkill?</p>
      <h1 class="color-light">
        Empowering you to provide quality eLearning experiences
      </h1>
      <p class="color-light">
        At UpSkill, we are on a mission to empower employers to improve our world with open source employee training software. With hundreds of millions of users around the globe and translated into 2 languages, UpSkill gives you the freedom to create online teaching and training solutions that best meet your learners&#39; needs.
      </p>
    </div>
    <div class="col-lg-6">
      <div>
        <img
          src="{% static 'assets/home-v-1.jpg' %}"
          alt="splash"
          class="img-fluid rounded mx-auto p-2"
        />
      </div>
    </div>
  </div>
  {% include 'frontPage/people.html' %} 
  {% include 'frontPage/mini_about.html'%} 
  <div class="p-3">
        <div>
            <p class="text-center color-light">
              Open LMS provides world-class LMS solutions that empower organizations to meet education and workplace learning needs. Get in touch to find out more.
            </p>
        </div>
        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'contact' %}">
              Get In Touch With Us
            </a>
        </div>
    </div>
  {% include 'front_page_footer.html' %}
</div>
{% endblock %}
