 {% load i18n %} 
<div class="p-3 rounded-3 m-3" style="background-color: #3f4156">
    <h1 class="color-blue text-center fs-4">About Us</h1>
    <div class="color-light d-flex flex-md-row flex-column p-2 rounded-3 gap-3">
        <div>
            <p class="text-justify">
                Making quality online education accessible for all
            </p>
            <p class="text-justify">
                UpSkill is the employee training platform of choice for thousands of schools, universities, colleges, vocational trainers, and workplaces in every part of the world.
            </p>
            <p class="text-justify">
                UpSkill is more than just an employee training platform &#45; we are a global community of educators, trainers, developers, system administrators, and learners who are dedicated to building the world&#39;s most effective platform for online learning.
            </p>
        </div>
        <div>
            <p class="text-justify">
                From sharing educational resources and debating new ideas to fixing
            </p> bugs and updating documentation, our community is here to support you throughout your online learning journey.
            <h5 class="color-light-gray">
                <br>
                Our History</h5>
            <p class="text-justify">
                UpSkill was born from a desire to give educators a way to create quality education experiences over the internet. From its humble beginnings in 2023, UpSkill has constantly evolved through our commitment to pedagogy, open source philosophy, and a collaborative global community of like-minded educators and technologists.
            </p>
        </div>
        <div>
            <h5 class="color-light-gray">
                Our Values </h5>
            <p class="text-justify">
                 From sharing educational resources and debating new ideas to fixing bugs and updating documentation, our community is here to support you throughout your online learning journey.From sharing educational resources and debating new ideas to fixing bugs and updating documentation, our community is here to support you throughout your online learning journey.
            </p>
            <h5 class="color-light-gray">
                Our Awards</h5>
            <p class="text-justify">
                Our awards recognise the hard work and dedication of our team and the Moodle community in continually evolving and improving Moodle.
            </p>
        </div>
    </div>
</div>