{% load static %} {% load i18n %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<!-- just added -->

<style>

.card {
  overflow: hidden;
    cursor: pointer;
     transition: all 0.5s;

}
  
  .card:hover{
  transform: scale(1.05);
  z-index: 999;
}
</style>



<div class="rounded-section text-center bg-white">
  <h1 class="color-blue text-success">
    Building better learning experiences with UpSkill
  </h1>
  <p class="color-light text-dark">
    Read inspiring stories from around the world on how UpSkill is being used to
    manage online learning and improve learner outcomes.
  </p>
  <div class="image-container  mt-4">
    <div class="owl-carousel" >
      <div class="px-1">
        <div class="card">
          <img
            src="{% static 'assets/card-img-1.jpg' %}"
            alt="{% translate 'UpSkill in action' %}"
            class="card-img-top"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <p class="card-text">
               <i class="bi bi-quote text-muted fs-4"></i>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="px-1">
        <div class="card">
          <img
            src="{% static 'assets/card-img-2.jpg' %}"
            alt="{% translate 'UpSkill team collaboration' %}"
            class="card-img-top"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <p class="card-text">
              <i class="bi bi-quote text-muted fs-4"></i>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="px-1">
        <div class="card">
          <img
            src="{% static 'assets/card-img-3.jpg' %}"
            alt="{% translate 'UpSkill workshop session' %}"
            class="card-img-top"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <p class="card-text">
               <i class="bi bi-quote text-muted fs-4"></i>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="px-1">
        <div class="card">
          <img
            src="{% static 'assets/card-img-1.jpg' %}"
            alt="{% translate 'UpSkill in action' %}"
            class="card-img-top"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <p class="card-text">
               <i class="bi bi-quote text-muted fs-4"></i>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="px-1">
        <div class="card">
          <img
            src="{% static 'assets/card-img-1.jpg' %}"
            alt="{% translate 'UpSkill in action' %}"
            class="card-img-top"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <p class="card-text">
               <i class="bi bi-quote text-muted fs-4"></i>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Just added-->

